name: Build NexionOS

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      COOKBOOK_REDOXER: $HOME/.cargo/bin/redoxer

    steps:
      - name: Checkout NexionOS source
        uses: actions/checkout@v4
        with:
          repository: JoyCode-Studios/NexionOS
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential qemu-system-x86 podman pkg-config libfuse3-dev libfuse-dev curl

      - name: Install Rust, Install Redoxer
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          source $HOME/.cargo/env
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
          cargo install redoxer --locked

      - name: Build OS image
        run: make image

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nexionos-image
          path: build/