name: Build NexionOS

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout NexionOS source
        uses: actions/checkout@v4
        with:
          repository: JoyCode-Studios/NexionOS
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential qemu-system-x86 podman pkg-config libfuse3-dev libfuse-dev curl

      - name: Install Rust, Install Redoxer, Build OS image
        run: |
          # Install Rust
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          source $HOME/.cargo/env
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

          # Install Redoxer
          cargo install redoxer --locked

          # Point cookbook to the correct Redoxer binary
          export COOKBOOK_REDOXER=$HOME/.cargo/bin/redoxer

          # Build the OS image
          make image

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nexionos-image
          path: build/